<div class="modal-container">
    <div class="modal">
        <h2 class="modal-title">{{modal-title}}}</h2>
        <form method="post" class="modal-form">
            <div class="modal-inputs">

            </div>
            <button type="submit" class="blue-button">Adicionar</button>
        </form>
        
    </div>
</div>

<script>
    const modals = {
        "new-folder": {
            title: 'Nova pasta',
            inputs: 
            [
                {
                    name: 'folderName',
                    type: 'text',
                    placeholder: 'Nome da pasta'
                }
            ]
        },
        "new-contact": {
            title: 'Novo contato',
            inputs: 
            [
                {
                    name: 'contactId',
                    type: 'text',
                    placeholder: 'E-mail ou username'
                }
            ]
        }
    }

    document.addEventListener('keydown', (e) => {
        if(e.key === 'Escape'){
            closeModal();
        }
    })
    
    const modalContainer = document.querySelector('.modal-container');
    const modalArea = document.querySelector('.modal');
    const modalTitle = document.querySelector('.modal-title');
    const modalInputs = document.querySelector('.modal-inputs');
    const modalForm = document.querySelector('.modal-form');

   modalContainer.onclick = function(e) {
        if(e.target === modalContainer) {
            closeModal();
        } 
    }   

    function restartModal(){
        modalInputs.innerHTML = '';
    }

    function modal(modalType){
        let currentModal = modals[modalType];
        modalTitle.innerText= currentModal.title;
        for(var input of currentModal.inputs){
            let inputElement = document.createElement('input');
            inputElement.name = input.name; 
            inputElement.type = input.type; 
            inputElement.placeholder = input.placeholder;
            inputElement.classList.add("input-main");
            inputElement.required = true;
            inputElement.autocomplete = "off";
            modalInputs.appendChild(inputElement);
        }
        modalForm.action = modalFormAction(modalType);
        modalContainer.style.display = 'flex';
    }

    function modalFormAction(modalType){
        let outputAction;
        switch(modalType){
            case 'new-folder':
                outputAction = `create-folder/<%= currentWorkspace %>/<%= user.workspaceId %>`;  + '/' 
                break;
            case 'new-contact':
                outputAction = 'add-contact/';
                break;
        }
        return outputAction;
    }


    function closeModal(){
        modalContainer.style.display = 'none';  
        restartModal();
    }
    
</script>