<div class="modal-container">
    <div class="modal">
        <header>
            <h2 class="modal-title">{{modal-title}}}</h2>
            <div class="close-button-modal" onclick="closeModal()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </header>
        <form method="post" class="modal-form">
            <div class="modal-inputs">

            </div>
            <button type="submit" class="blue-button">Adicionar</button>
        </form>
    </div>
</div>

<script>
    const modals = {
        "new-folder": {
            title: 'Nova pasta',
            inputs: 
            [
                {
                    name: 'folderName',
                    type: 'text',
                    placeholder: 'Nome da pasta'
                }
            ]
        },
        "new-contact": {
            title: 'Novo contato',
            inputs: 
            [
                {
                    name: 'contactId',
                    type: 'text',
                    placeholder: 'E-mail ou username'
                }
            ]
        },
        "rename-folder": {
            title: 'Renomear pasta',
            inputs: [
                {
                    name: 'newName',
                    type: 'text',
                    placeholder: 'Digite o novo nome'
                }, 
                {
                    name: 'originalFolderId',
                    type: 'hidden',
                    value: folderInChangingId
                }
            ]
        },
        "rename-file": {
            title: 'Renomear arquivo',
            inputs: [
                {
                    name: 'newName',
                    type: 'text',
                    placeholder: 'Digite o novo nome'
                }, 
                {
                    name: 'originalFileId',
                    type: 'hidden',
                    value: 0
                }
            ]
        },
        "upload-file": {
            title: 'Enviar arquivo(s)',
            inputs: [
                {
                    name: 'arquivo',
                    type: 'file'
                }, 
                {
                    name: 'originalFolderId',
                    type: 'hidden',
                    value: '<%= currentWorkspace %>'
                }
            ]
        }
    }

    document.addEventListener('keydown', (e) => {
        if(e.key === 'Escape'){
            closeModal();
        }
    })
    
    const modalContainer = document.querySelector('.modal-container');
    const modalArea = document.querySelector('.modal');
    const modalTitle = document.querySelector('.modal-title');
    const modalInputs = document.querySelector('.modal-inputs');
    const modalForm = document.querySelector('.modal-form');

    modalContainer.onclick = function(e) {
        if(e.target === modalContainer) {
            closeModal();
        } 
    }   

    function modal(modalType){
        let currentModal = modals[modalType];
        modalTitle.innerText= currentModal.title;
        for(var input of currentModal.inputs){
            let inputElement = document.createElement('input');
            inputElement.name = input.name; 
            inputElement.type = input.type; 
            inputElement.value = input.value || '';

            inputElement.placeholder = input.placeholder;
            inputElement.classList.add("input-main");
            inputElement.autocomplete = "off";
            inputElement.required = true;
            inputElement.classList.add('form-input');
            modalInputs.appendChild(inputElement);
        }
        modalForm.action = modalFormAction(modalType);
        if(modalType === 'upload-file'){
            modalForm.enctype = 'multipart/form-data';
        }
        modalContainer.style.display = 'flex';
        setFocusOnForm();
    }

    function setFocusOnForm(){
        document.querySelector('.form-input').focus();
    }

    function modalFormAction(modalType){
        let outputAction;
        switch(modalType){
            case 'new-folder':
                outputAction = `/create-folder/<%= currentWorkspace %>/<%= user.workspaceId %>`;  + '/' 
                break;
            case 'new-contact':
                outputAction = '/add-contact/';
                break;
            case 'rename-folder':
                outputAction = '/rename-folder/';
                break;
            case 'upload-file':
                outputAction = '/upload-file';
                break;
            case 'rename-file':
                outputAction = '/rename-file/';
                break;
        }
        return outputAction;
    }
    
    function restartModal(){
        modalInputs.innerHTML = '';
    }

    function closeModal(){
        restartModal();
        modalContainer.style.display = 'none';  
    }
    
</script>