<aside class="sidebar">
    <a class="btn-main-action darkmode-ignore" href="/">
        <span class="material-symbols-outlined icon-sm">
            public
        </span> 
        <h3 class="sidebar-section-title">Voltar ao Workspace</h3></a>
    <div class="sidebar-section">
        <h3 class="sidebar-section-title">Pastas compartilhadas</h3>
        <div class="sidebar-section-options">
            <div class="sidebar-section-option">
                <%  if(workspaceFolders.length > 0) { 
                    for(var folder of workspaceFolders){ %>
                    <a href="/folder/<%= folder.id %>">
                            <p><%= folder.name %></p>
                    </a>
                <% } } else { %>
                    <p class="none-feedback">Nenhuma pasta criada</p>
                <% } %>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <h3 class="sidebar-section-title">Contatos diretos</h3>
        <div class="sidebar-section-options">
            <div class="sidebar-section-option">
                <%  if(contacts.length > 0) { 
                    for(var contact of contacts){ %>
                    <a href="/chat/<%= contact.id %>">
                            <p><%= contact.name %></p>
                    </a>
                <% } } else { %>
                    <p class="none-feedback">Nenhum contato adicionado</p>
                <% } %>
            </div>
        </div>
    </div>

</aside>