button{
    cursor: pointer;
    outline: none;
}

form button{
    width: 100%;
}

.blue-button{
    background-color: var(--primary-blue);
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

.action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    outline: none;
    color: #23A3FF;
    background: transparent;
    padding: 9px 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid #23A3FF;
    transition: .12s ease;
    isolation: isolate;
}

.action-button:hover{
    background: #23A3FF;
    color: white;
}

.btn-app{
    display: flex !important;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    gap: 6px;
    background: #FFE2B8;
    border-radius: 10px;
}

.btn-main-action{
    background: #FFBA52;
    padding: 5px 20px;
    line-height: 0;
    border-radius: 23px;
    font-size: .8rem;
    text-decoration: none;
    color: black;
    display: flex !important;
    width: fit-content;
    gap: 5px;
    align-items: center;
}