@import 'login.css';
@import 'navbar.css';
@import 'app.css';
@import 'modal.css';
@import 'buttons.css';
@import 'folder-page.css';

::selection{
    z-index: 999;
    background: rgba(0, 0, 0, 0.83);
    color: white;
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --dark-bg-color: #FFFFFF;
    --main-text-color: #000000;
    --main-color: #FFBA52;
    --primary-blue: #008CF1;
    --primary-font:'Be Vietnam Pro', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

body{
    font-family: var(--secondary-font);
    color: black;
    overflow-x: hidden;
}

button{
    font-family: var(--secondary-font);
}

.flex-row{
    display: flex;
    align-items: center;
}

.gap-sm{
    gap: 18px;
}

.link-none{
    color: var(--main-text-color);
    text-decoration: none;    
}

.darkmode-toggle{
    z-index: 555;
}

.error-container{
    padding: 20px 0;
    display: grid;
    place-items: center;
    color: #c03640;
    border-radius: 5px;
    margin: 10px 0;
    background: #FFDBE3;
}