<div class="container-contact">
    <div class="contact">
        <div class="contact-avatar darkmode-ignore" style="background-image: url('<%= contato.avatar %>')"></div>
        <p><%= contato.nome %></p>
    </div>
    <div>
        <span class="material-symbols-outlined">
            more_vert
        </span>
    </div>
</div>