<div id="workspace">
    <h1>Workspace</h1>
    <div class="search-bar-container">
        <form method="get">
            <input placeholder="Pesquise no workspace" name="q" class="input-main" autocomplete="off">
        </form>
    </div>
    <div class="workspace-section">
        <div class="workspace-section-title">
            <h2>Pastas compartilhadas</h2>
            <button onclick="modal('new-folder')" class="action-button">
                <span class="material-symbols-outlined">
                    add
                </span> <!-- + -->

                Criar uma pasta</button>
        </div>
    </div>
    <div class="folders-container">
        <%  if(workspaceFolders.length > 0) { 
                for(var folderIndex in workspaceFolders){ %>
        <% var folder = workspaceFolders[folderIndex]; %>
        <%- include('components/folder/folder-component.ejs', { folderIndex, folder }) %>
        <% } } else { %>
        <p class="none-feedback">Nenhuma pasta criada</p>
        <% } %>
    </div>

    <div class="workspace-section">
        <div class="workspace-section-title">
            <h2>Contatos diretos</h2>
            <button onclick="modal('new-contact')" class="action-button">
                <span class="material-symbols-outlined">
                    add
                </span> <!-- + -->

                Adicionar um contato</button>
        </div>
        <div class="contacts-container">
            <% for(contact of contacts){ %>
            <p><%= contact.name %></p>
            <% } %>
        </div>
    </div>
</div>