<div class="folder-page">
    <div class="folder-desc">
        <div class="folder-info">
            <div class="icons-folder-header">
                <a onclick="history.back()"><span class="material-symbols-outlined" style="cursor: pointer; color: black;">arrow_back_ios</span></a>
                <div class="folder-icon darkmode-ignore" style="fill: #818181">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
            </div>
            <div class="folder-name">
                <h2><%= thisFolder.name %></h2>
            <!-- <div class="img-container">
                <img class="contact-img" src="https://pbs.twimg.com/profile_images/620358333535404032/iKNs7UJZ_400x400.png" alt="contact photo">
            </div> -->
            </div>
        </div>
        <div class="icons-folder">
            <button class="icon-folder btn-app darkmode-ignore">
                <span class="material-symbols-outlined">
                    upload
                </span>
                <p>Enviar um arquivo</p>
            </button>
            <button class="icon-folder btn-app darkmode-ignore" onclick="modal('new-folder')">
                <span class="material-symbols-outlined">
                    create_new_folder
                </span>
                <p>Criar um pasta</p>
            </button>
            <button class="icon-folder btn-app darkmode-ignore">
                <span class="material-symbols-outlined">
                    chat
                </span>
                <p>Chat</p>
            </button>
            <span class="material-symbols-outlined">
                more_vert
            </span>
        </div>
    </div>

    <div class="search-bar-container">
        <form method="get">
            <input placeholder="Pesquise em <%= thisFolder.name %>" name="q" class="input-main" autocomplete="off">
        </form>
    </div>
    
    <br />

   <div class="data-container folders-container">
    <% for(var folderIndex in foldersOfWorkspace) { let folder = foldersOfWorkspace[folderIndex]; %>
        <%- include('components/folder/folder-component.ejs', { folder, folderIndex }) %>
    <% } %>
    </div>
</div>
